@font-face {
    font-family: 'r-flex';
    src: url('library/r-flex-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooperbits';
    src: url('library/cooperbits-webfont.woff') format('woff'),
         url('library/cooperbits-webfont.ttf') format('truetype'),
         src: local(cooperbits), url("library/cooperbits-webfont.ttf");
    font-weight: normal;
    font-style: normal;

}

}
.body {
background: #F3F4F7;
}



.text {
    font-family: 'cooperbits';
    background-image: linear-gradient(45deg, #FB879E, #8CC5FC);
    background-size: 20%;
    font-size: 40px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
        background-repeat: repeat;
        background-position: center;

}

.text2 {
    font-family: 'cooperbits';
    color: #FB879E;
    font-size: 25px;
    width: 291px;
    line-height: 125%;
    text-align: left;

}

.logo-img {
margin-top: 25px;
margin-left: 70px;
}

.contactme {
margin-top: 18px;
padding: 6px;
margin-right: 70px;
padding-left: 20px;
padding-right: 20px;
border-radius: 26px;
border-color: #FB879E;
border-width: 0px;
background: #FB879E;
color: var(--white, #FFF);
text-align: center;
font-family: 'r-flex';
font-size: 18px;
font-weight: 500;
line-height: normal;
  transition: all 0.8s ease;
}

.contactme:hover {
background: #BAABD5;
  transition: all 0.8s ease;
}

.hero {
padding-top: 12%;
padding-bottom: 5%;
}

.about {
padding: 2%;

}

.contact {
padding-top: 0.5%;
margin-left: 10px;
}

.text-about {
width: 40%;
padding: 0.4%;
font-family: 'r-flex';
color: #655573;
text-align: right;
line-height: 144.5%;
padding-top: 0.5%;
font-size: 15px;
}

.email {
width: 40%;
padding-top: 0%;
font-family: 'r-flex';
color: #655573;
text-align: right;
line-height: 144.5%;
font-size: 17px;
}

.margin-left-10px {
margin-left: 10px;
}


.alignment-prop {
  display: flex;
  justify-content: center;
}

.text-project {
font-family: 'r-flex';
color: #3D3D3D;
text-align: center;
line-height: 144.5%;
font-size: 15px;
padding-top: 20px;
text-shadow: 0px 1px 1px #E9CFFF;
}

.container {
  display: flex; // working with all latest browsers
  display: -webkit-flex;  // for old version of safari
  display: -ms-flex; // for old versions of IE
  justify-content: space-between;
}
.container span {
  flex: 0.8;
  text-align: center;
}

img {
    max-width: -webkit-fill-available;
}

.navbar {
    background-color: #fff;
    HEIGHT: 85PX;
}

.title-color-gradient {
    background: linear-gradient(0deg, rgba(140,197,252,0) 0%, rgba(175,222,252,0.3113620448179272) 30%);
}

.item {
    margin-bottom: 50px
}

.footer {
background: rgb(140,197,252);
background: linear-gradient(0deg, rgba(140,197,252,1) 0%, rgba(140,197,252,0.5746673669467788) 23%);
}

.footer-text-1 {
font-family: 'r-flex';
font-size: 18px;
font-weight: 500;
line-height: normal;
color: #fff;
padding: 25px;
}